textarea
{
    font-family:Tahoma, Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
    font-size : 14px;
    background-color:white;
    width:400px;
    height:245px;
    border: solid 1px #328AC9;
}