<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VfsCustomerService.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VfsCustomerService.Business.Properties.Settings>
            <setting name="VfsCustomerService_Business_MTSpam_MTSender" serializeAs="String">
                <value>http://203.162.35.82:95/MTSEndPartner/MTSenderPartner.asmx</value>
            </setting>
            <setting name="VfsCustomerService_Business_CoreSecuritiesSms_MOReceiver"
                serializeAs="String">
                <value>http://10.1.17.1:8082/smsgateway/services/MOReceiver</value>
            </setting>
        </VfsCustomerService.Business.Properties.Settings>
    </applicationSettings>
</configuration>