
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="tab-faq">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#aboutUs" aria-controls="aboutUs" role="tab" data-toggle="tab">
                               ABOUT US
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#jobSeeker" aria-controls="jobSeeker" role="tab" data-toggle="tab">
                                JOB SEEKER
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#employer" aria-controls="employer" role="tab" data-toggle="tab">
                                EMPLOYER
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#service" aria-controls="service" role="tab" data-toggle="tab">
                                SERVICE
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <h2>FREQUENTLY ASKED QUESTIONS</h2>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="aboutUs">
                        <div class="panel-group" id="aboutUsContent" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="aboutUsHeader1">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#aboutUsContent" href="#aboutUsCollapse1" aria-expanded="true" aria-controls="aboutUsCollapse1">
                                            Collapsible Group Item #1<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="aboutUsCollapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="aboutUsHeader1">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="aboutUsHeader2">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#aboutUsContent" href="#aboutUsCollapse2" aria-expanded="false" aria-controls="aboutUsCollapse2">
                                            Collapsible Group Item #2<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="aboutUsCollapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="aboutUsHeader2">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="aboutUsHeader3">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#aboutUsContent" href="#aboutUsCollapse3" aria-expanded="false" aria-controls="aboutUsCollapse3">
                                            Collapsible Group Item #3<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="aboutUsCollapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="aboutUsHeader3">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="aboutUsHeader4">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#aboutUsContent" href="#aboutUsCollapse4" aria-expanded="false" aria-controls="aboutUsCollapse4">
                                            Collapsible Group Item #3<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="aboutUsCollapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="aboutUsHeader4">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="aboutUsHeader5">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#aboutUsContent" href="#aboutUsCollapse5" aria-expanded="false" aria-controls="aboutUsCollapse5">
                                            Collapsible Group Item #3<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="aboutUsCollapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="aboutUsHeader5">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="jobSeeker">
                        <div class="panel-group" id="jobSeekerContent" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="jobSeekerHeader1">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#jobSeekerContent" href="#jobSeekerCollapse1" aria-expanded="true" aria-controls="jobSeekerCollapse1">
                                            Collapsible Group Item #1<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="jobSeekerCollapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="jobSeekerHeader1">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="jobSeekerHeader2">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#jobSeekerContent" href="#jobSeekerCollapse2" aria-expanded="false" aria-controls="jobSeekerCollapse2">
                                            Collapsible Group Item #2<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="jobSeekerCollapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="jobSeekerHeader2">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="jobSeekerHeader3">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#jobSeekerContent" href="#jobSeekerCollapse3" aria-expanded="false" aria-controls="jobSeekerCollapse3">
                                            Collapsible Group Item #3<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="jobSeekerCollapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="jobSeekerHeader3">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="jobSeekerHeader4">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#jobSeekerContent" href="#jobSeekerCollapse4" aria-expanded="false" aria-controls="jobSeekerCollapse4">
                                            Collapsible Group Item #3<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="jobSeekerCollapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="jobSeekerHeader4">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="jobSeekerHeader5">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#jobSeekerContent" href="#jobSeekerCollapse5" aria-expanded="false" aria-controls="jobSeekerCollapse5">
                                            Collapsible Group Item #3<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="jobSeekerCollapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="jobSeekerHeader5">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="employer">
                        <div class="panel-group" id="employerContent" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="employerHeader1">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#employerContent" href="#employerCollapse1" aria-expanded="true" aria-controls="employerCollapse1">
                                            Collapsible Group Item #1 <i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="employerCollapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="employerHeader1">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="employerHeader2">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#employerContent" href="#employerCollapse2" aria-expanded="false" aria-controls="employerCollapse2">
                                            Collapsible Group Item #2<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="employerCollapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="employerHeader2">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="employerHeader3">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#employerContent" href="#employerCollapse3" aria-expanded="false" aria-controls="employerCollapse3">
                                            Collapsible Group Item #3<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="employerCollapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="employerHeader3">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="employerHeader4">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#employerContent" href="#employerCollapse4" aria-expanded="false" aria-controls="employerCollapse4">
                                            Collapsible Group Item #3<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="employerCollapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="employerHeader4">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="employerHeader5">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#employerContent" href="#employerCollapse5" aria-expanded="false" aria-controls="employerCollapse5">
                                            Collapsible Group Item #3<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="employerCollapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="employerHeader5">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="service">
                        <div class="panel-group" id="serviceContent" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="serviceHeader1">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#serviceContent" href="#serviceCollapse1" aria-expanded="true" aria-controls="serviceCollapse1">
                                            Collapsible Group Item #1<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="serviceCollapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="serviceHeader1">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="serviceHeader2">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#serviceContent" href="#serviceCollapse2" aria-expanded="false" aria-controls="serviceCollapse2">
                                            Collapsible Group Item #2<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="serviceCollapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="serviceHeader2">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="serviceHeader3">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#serviceContent" href="#serviceCollapse3" aria-expanded="false" aria-controls="serviceCollapse3">
                                            Collapsible Group Item #3<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="serviceCollapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="serviceHeader3">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="serviceHeader4">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#serviceContent" href="#serviceCollapse4" aria-expanded="false" aria-controls="serviceCollapse4">
                                            Collapsible Group Item #3<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="serviceCollapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="serviceHeader4">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="serviceHeader5">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#serviceContent" href="#serviceCollapse5" aria-expanded="false" aria-controls="serviceCollapse5">
                                            Collapsible Group Item #3<i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="serviceCollapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="serviceHeader5">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
