<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <dataConfiguration defaultDatabase="DefaultDatabase" />
  <connectionStrings>
    <add name="DefaultDatabase" connectionString="server=DTICT01\SQLEXPRESS;database=WebCrawler;uid=sa;pwd=@password123;" providerName="System.Data.SqlClient" />
    <add name="DestinationConnection" connectionString="server=SVR-DB;database=FrontEndWebSite;uid=sa;pwd=@password123456;" providerName="System.Data.SqlClient" />
    <!-- used -->
    <add name="CustommerServiceConnection" connectionString="server=svr-db;database=VfsCustomerService;uid=sa;pwd=@password123456;" providerName="System.Data.SqlClient" /> 
    <add name="CoreSecurityServiceConnection" connectionString="server=dbtest;database=SFS;uid=sbs;pwd=sbs;" providerName="System.Data.SqlClient" />
    <add name="OnlinePriceConnection" connectionString="server=172.16.2.21;database=PriceOnline;uid=Stock;pwd=STOCK;" providerName="System.Data.SqlClient" />
    <add name="DestinationConnectionNewWebsite" connectionString="server=SVR-17;database=fxSPortal_VFS;uid=servicesRelated;pwd=Password@09;" providerName="System.Data.SqlClient" />
    <!-- used -->
    <add name="DolPhin_Entities" connectionString="metadata=res://*/CoreGolineDAO.csdl|res://*/CoreGolineDAO.ssdl|res://*/CoreGolineDAO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=app-center;initial catalog=DolPhin_Dev;persist security info=True;user id=sa;password=@password123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="PageSize" value="50" />
    <add key="SmsUserName" value="vfsuser" />
    <add key="SmsPassword" value="vfsuser2009sms353" />
    <add key="UploadFolder" value="Upload\UpdatePrice\" />
    <add key="SnapShotSampleFolder" value="Upload\SnapShot\" />
    <add key="SnapShotHoseOutPutFolder" value="Upload\SnapShot\HOSE\" />
    <add key="SnapShotHnxOutPutFolder" value="Upload\SnapShot\HNX\" />
    <add key="DestinationConnectionString" value="server=DTICT01;database=WebCrawler;uid=sa;pwd=@password123;" />
    <add key="ExportSymbolPermLong" value="Resources/ExcelTemplates/TemplateOfMarketReview.alt" />
    <add key="ExportStatistisTransaction" value="Resources/ExcelTemplates/StatisticTransaction.alt" />
    <add key="ExportTemplateOfStox" value="Resources/ExcelTemplates/TemplateOfStox.txt" />
    <add key="ExportSessionCompany" value="Resources/ExcelTemplates/3PriceInfo.alt" />
    <add key="ContentTemplateId" value="42" />
    <add key="ContentemplateIdForPorfolioSMS" value="117" />
    <add key="DailyContentTemplateId" value="15" />
    <add key="RelatedContentTemplateId" value="18" />
    <add key="MTSpam.MTSenderPartner" value="http://mt.123sms.vn/MTSenderPartner.asmx" />
    <add key="TestSMS.MTSenderPartner" value="http://mt.123sms.vn/MTSenderPartner.asmx" />
    <add key="Customer.VirtualPath" value="~/" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\\inforService.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Size" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="1MB" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="VfsInformationService.ASPXAUTH" loginUrl="Login.aspx" protection="All" path="/" defaultUrl="MessengerSending.aspx" />
    </authentication>
    <!--<authorization>
      -->
    <!-- Order and case are important below -->
    <!--
      <deny users="?"/>
      <allow users="thanh.nguyen"/>
      <allow users="hieu.nguyen"/>
      <allow users="thuong.huynh"/>
      <allow users="tuan.le"/>
      <allow users="ha.nguyen"/>
      <allow users="*"/>
    </authorization>-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpHandlers>
      <add verb="*" path="jiffycms.axd" type="Jiffycms.Net.Toolkit.WebResourceHandler" />
    </httpHandlers>
    <httpRuntime maxRequestLength="16384" requestValidationMode="2.0" />
    <!-- 16MB -->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add verb="*" path="jiffycms.axd" type="Jiffycms.Net.Toolkit.WebResourceHandler" name="WebResourceHandler" preCondition="integratedMode" />
      <!--<add verb="*" path="jiffycms.axd" type="Jiffycms.Net.Toolkit.WebResourceHandler" name="WebResourceHandler" preCondition="integratedMode"/>
      <add verb="*" path="jiffycms.axd" type="Jiffycms.Net.Toolkit.WebResourceHandler" name="WebResourceHandler" preCondition="integratedMode"/>-->
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>