<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
			<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
			<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
	</configSections>
	<appSettings>
		<add key="SnapShotHoseOutPutFolder" value=""/>
		<add key="SnapShotHnxOutPutFolder" value=""/>
    <add key="NameSheet" value="Info"/>
    <add key="GetSourceFolerHOSE" value="\\svr-10\Soft\VolumeReview\HOSE"/>
    <add key="GetTargetFolerHOSE" value="C:\VolumeReview\HOSE"/>
    <add key="GetSourceFolerHNX" value="\\svr-10\Soft\VolumeReview\HNX"/>
    <add key="GetTargetFolerHNX" value="C:\VolumeReview\HNX"/>
	</appSettings>
	<connectionStrings>
		<add name="DefaultDatabase" connectionString="server=DTICT01\SQLEXPRESS;database=WebCrawler;uid=sa;pwd=@password123;" providerName="System.Data.SqlClient"/>
		<add name="DestinationConnection" connectionString="server=SVR-DB;database=FrontEndWebSite;uid=sa;pwd=@password123456;" providerName="System.Data.SqlClient"/>
		<add name="CustommerServiceConnection" connectionString="server=SVR-DB;database=VfsCustomerServiceTest;uid=sa;pwd=@password123456;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<log4net debug="true">
			<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
				<file value="C:\\SnapShotLog.log" />
				<appendToFile value="true" />
				<rollingStyle value="Size" />
				<maxSizeRollBackups value="10" />
				<maximumFileSize value="10MB" />
				<staticLogFileName value="true" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
				</layout>
			</appender>

			<root>
				<level value="DEBUG" />
				<appender-ref ref="RollingLogFileAppender" />
			</root>
	</log4net>
</configuration>