<div class="banner">
    <div class="banner1">
        <a href="#">
            <img src="~/Content/images/banner1.png"/>
        </a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="#">
                <img src="~/Content/images/banner2.png"/>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#">
                <img src="~/Content/images/banner3.png"/>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#">
                <img src="~/Content/images/banner4.png" />
            </a>
        </div>
    </div>
</div>