
#header {
	width: 800px;
}


#bodyContent {
	width: 800px;
}

#bodyContent #left {
	width: 200px;
	float: left;
}

#bodyContent #right {
	width: 580px;
	float: right;
}
.ErorrText
{
	color:Red
}

#bodyContent #right table {
	line-height:1.8;
}


#bodyContent #right table input[type='radio'],input[type='checkbox'] {
    width:15px;
    height:15px;
}