@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
 @using (Html.BeginForm("Index", "Search"))
    {
        @Html.TextBox("EmailList")
        <input type="submit" id="emailSubmit" value="Submit Email" />
    }

