@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pnl-forgot-password" ng-controller="forgotPasswordController">
    <h2>Forgot Password?</h2>
    <hr />
    <div style="width: 20%">
        <hr style="background: #04ACEA; height: 5px;" />
    </div>
    <form name="forgotPassword" class="form-content">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="email" class="form-control" placeholder="Email" name="email" ng-model="Model.Email" required
                   uib-tooltip="{{(forgotPassword.email.$error.required)?'This field is required.':(loginEmployer.email.$error.email)?'Invalid email address.':''}}"
                   tooltip-enable="!Model.Email"
                   tooltip-placement="bottom" tooltip-trigger="mouseenter" />
        </div>
        <div class="row">
            <div class="col-md-4">
                <button ng-click="submit()" class="send">Send</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/Content/js/SwipeJob/Account/forgotPasswordController.js")
}