@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _confirmationCode = ViewData["ConfirmationCode"];
}

<div class="pnl-reset-password" ng-controller="resetPasswordController">
    <h2>Reset Password</h2>
    <hr/>
    <div style="width: 20%">
        <hr style="background: #04ACEA; height: 5px;"/>
    </div>
    <form name="resetPassword" class="form-content">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="New Password" name="password" ng-model="Model.Password" required
                   uib-tooltip="{{(resetPassword.password.$error.required)?'This field is required.':''}}"
                   tooltip-enable="!Model.Password"
                   tooltip-placement="bottom" tooltip-trigger="mouseenter"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Confirm New Password" name="passwordConfirmation" ng-model="Model.PasswordConfirmation" required
                   uib-tooltip="{{(resetPassword.passwordConfirmation.$error.required)?'This field is required.':''}}"
                   tooltip-enable="!Model.PasswordConfirmation"
                   tooltip-placement="bottom" tooltip-trigger="mouseenter" />
        </div>
        <div class="row">
            <div class="col-md-4">
                <button ng-click="submit()" class="reset">Reset</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
<script>
        var _code = @Html.Raw(Json.Encode(ViewData["code"].ToString()));
</script>
    @Scripts.Render("~/Content/js/SwipeJob/Account/resetPasswordController.js")
}