<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Khuyen nghi dau tu</title>
    <link rel="stylesheet" href="/LoginTheme/css/screen.css" type="text/css" media="screen" title="default" />
    <!--  jquery core -->
    <script src="/LoginTheme/js/jquery/jquery-1.4.1.min.js" type="text/javascript"></script>

    <!-- Custom jquery scripts -->
    <script src="/LoginTheme/js/jquery/custom_jquery.js" type="text/javascript"></script>

    <!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
    <script src="/LoginTheme/js/jquery/jquery.pngFix.pack.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).pngFix();
        });
    </script>
</head>
<body id="login-bg">

    @RenderBody()    
    
    @RenderSection("scripts", required: false)
</body>
</html>
